<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" href="/iste.png" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="navbar">
      <ul>
        <li>
          <a href="/iste" id="logo"><img src="https://res.cloudinary.com/dyb0gnw0d/image/upload/v1722779784/iste_xotnfr.png" alt="ISTELOGO" class="iste-logo"/><div class="hideInMini">ISTE MBU & SVEC</div></a> 
        </li>
        <li class="lii hideInMini"><a class="aa <%= (currentRoute === '/iste') ? 'ab' : '' %>" href="/iste">About us</a></li>
        <li class="lii hideInMini">
          <a class="aa <%= (currentRoute === '/iste/events') ? 'ab' : '' %>" href="/iste/events">Events</a>
        </li>
        <li class="lii hideInMini">
          <a class="aa <%= (currentRoute === '/iste/team') ? 'ab' : '' %>" href="/iste/team">Our Team</a>
        </li>
        <li class="lii hideInMini">
          <a class="aa <%= (currentRoute === '/iste/gallery') ? 'ab' : '' %>" href="/iste/gallery">Gallery</a>
        </li>
        <li class="lii hideInMini">
          <a class="aa" href="#contactus">Contact us</a>
        </li>
        <li class="hideInMaxi" onclick="show()">
          <i class="fa-solid fa-bars"></i>
        </li>
      </ul>
      <!-- <hr style="color: white; background-color: white; height: 0.2rem" /> -->
      <ul class="mini">
        <li onclick="hide()" style="margin-left: 8rem">
          <i class="fa-solid fa-xmark"></i>
        </li>
        <li>
          <a href="/iste" id="logo"><img src="https://res.cloudinary.com/dyb0gnw0d/image/upload/v1722779784/iste_xotnfr.png" alt="ISTELOGO" class="iste-logo" />&nbsp;MBU & SVEC</a>
        </li>
        <li class="lii"><a class="aa  <%= (currentRoute === '/iste') ? 'ab' : '' %>" href="/iste">About us</a></li>
        <li class="lii"><a class="aa  <%= (currentRoute === '/iste/events') ? 'ab' : '' %>" href="/iste/events">Events</a></li>
        <li class="lii"><a class="aa  <%= (currentRoute === '/iste/team') ? 'ab' : '' %>" href="/iste/team">Our Team</a></li>
        <li class="lii"><a class="aa  <%= (currentRoute === '/iste/gallery') ? 'ab' : '' %>" href="/iste/gallery">Gallery</a></li>
        <li class="lii"><a class="aa" href="#contactus">Contact us</a></li>
      </ul>
    </div>
    <script src="/js/nav.js"></script>
  </body>
</html>
