<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
    <link rel="stylesheet" href="/css/events.css" />
    <link rel="icon" href="https://res.cloudinary.com/dyb0gnw0d/image/upload/v1722779784/iste_xotnfr.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <%- include("./includes/nav.ejs") %>
    <%- include("./includes/cursor.ejs") %>
    <div class="title opening"><h1>RECENT EVENTS...</h1></div>
    <marquee behavior="scroll" direction="left" scrollamount="25">
      <% for(poster of posters){ %>
      <img src="<%= poster.image.url %>" alt="" />
      <% } %> 
    </marquee>

    <div class="title"><h1>UPCOMING EVENT</h1></div>
    <% for(let event of nextevent) { %>

    <div class="upcoming">
      <div class="next-poster">
        <img src=<%= event.image.url%> alt="" />
      </div>
      <div class="register">
        <h2><%= event.title %></h2>
        <br />
        <h4>
          Date : <%= event.date %> <br />
          Time : <%= event.time %> <br />
          <%= event.description %>
        </h4>
        <br />
        <form action=<%= event.link %>>
          <button class="button">Register Now</button>
        </form>
      </div>
      <% } %>
    </div>
    <br>


    


    <div class="title"><h1>YOUTUBE VIDEOS</h1></div>
    <div class="myCarousel">
      <div class="carousel">
        <div class="container">
          <% for(let video of videos) { %>
          <div class="yt-video">
            <iframe src=<%= video.link %>
              frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
              >
            </iframe>
          </div>

          <% } %>
        </div>
        <button class="c-btn left">
          <i class="fa-solid fa-angle-left"></i>
        </button>
        <button class="c-btn right">
          <i class="fa-solid fa-angle-right"></i>
        </button>
      </div>
    </div>
    <br /><br />
    <%- include("includes/contact.ejs") %>
    <script src="/js/carousel.js"></script>
  </body>
</html>
